<table >
  <tr>
      <td style="width:40%"><img src="assets/images/header4.jpg" style="width:60%;margin-bottom:8px;margin-left: 30%;"></td>
      <td style="width:60%;"><h2 style="text-align: center; margin-bottom: 6px;text-transform: uppercase;">Hotel Booking Application</h2></td>

  </tr>

</table>

<table>

  <tr>

    <td style="width: 15%; text-align: center;">  <a routerLink="/home"> About</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchhotel"> Add Hotel</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/hotels"> All Hotels</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/rooms"> search Hotel </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bookingdetails"> Booking Details </a>  </td>

  </tr>
</table>
<!--<hr class="line2" *ngIf="loginStatus == true"/>
<div *ngIf="loginStatus == false">
  <img src="/assets/images/home.JPG"/>
</div>
<div *ngIf="loginStatus == true">
  <router-outlet></router-outlet>
</div>-->
  
<table style="background-color: rgb(166, 235, 235);">
  <tr>

<td><img src="assets/images/hotel2.jpg" style="height:40%;"></td>
<td><p >Online hotel reservations are a popular method for booking hotel rooms. Travellers can book rooms on a computer by using online security to protect their privacy and financial information and by using several online travel agents to compare prices and facilities at different hotels.</p></td>
  </tr>
</table>

<router-outlet></router-outlet>