<div *ngFor="let h of allHotel">
<table>
    <tr>
        <!--<td> <img src="/assets/Images/{{h.imageName}}" alt="Hotel image" width="120px" height="150px"> </td>-->
        <td> 
            <h2>{{h.hotelName}} </h2>
            <p>{{h.city}}</p>
            <p>{{h.address}}</p>
            <p> {{h.description}} </p>
            
            <p>{{h.email}}</p>
            <p>{{h.phone}}</p>
            <p>{{h.starRating}}</p>
            <p>{{h.website}}</p>
            <p>{{h.imageName}}</p>

            
            
            <button>View Details</button>
            
        </td>
        

        
        
    </tr>
    
    

</table>
</div>
